
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}
<form method="post">
    <div class="container-fluid">
        <div class="row py-5 mx-auto">
            <div class="col-sm-4 shadow p-3 mb-5 bg-white rounded mx-auto">
                <h4 class="text-center">Forget <b class="text-mycolor">Password</b></h4>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="empid" id="floatingopass" placeholder="" required>
                    <label for="floatingopass">Enter Your EmpId </label>
                </div>
                <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        </div>
    </div>
</form>

