
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}
<div class="row py-2">
    <p class="fs-3 text-center">
        Our<b class="text-mycolor"> Services  </b><br />
        <span class="fs-5">Connecting talent with opportunities across all industries.</span>
        <hr class="w-25 mx-auto" />
    </p>
    <div class="col-sm-10 mx-auto">
        <div class="row py-3">
            <!--Service card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/about1.jpg" class="img-fluid rounded-start imgservice w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">1. Job Listing and Applications</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Real-Time Job Posting by Admin</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Easy Filtering by Role, Location or Type</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> One-Click Application System</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service card End-->
            <!--Service card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/about2.jpg" class="img-fluid rounded-start imgservice w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">2. User Onboarding and Hiring</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Seamless Candidate Registration</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Application review & Admin Shortlisting</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Automated hiring and employee account creation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service card End-->

        </div>
        <div class="row py-3">
            <!--Service card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/about3.png" class="img-fluid rounded-start imgservice w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">3. Employee Login & Dashboard</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Personal login credentials for hired users</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Attendance management,leave request ,salary slips</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Secure profile and performance tracking</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service card End-->
            <!--Service card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/about4.png" class="img-fluid rounded-start imgservice w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">4. Admin Panel</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Manage users employees, job posts</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> View applications, approve hiring</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Control system settings & reports</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service card End-->

        </div>
        <div class="row py-3">
            <!--Service card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/about5.jpeg" class="img-fluid rounded-start imgservice w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">5. Attendance and Leave Management</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Mark daily attendance (in / out)</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Apply for leave, view leave history</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Admin approval workflow</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service card End-->
            <!--Service card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/service5.jpg" class="img-fluid rounded-start imgservice w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">6. Salary Slip Generation</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Auto-generate monthly salary slips</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> PDF download option</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> View previous salary records</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service card End-->
        </div>
        <div class="row py-3">
            <!--Service card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/service6.jpg" class="img-fluid rounded-start imgservice w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">7. Employee Lifecycle Tracking</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Join date, active status</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Termination process with reason logging</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> History of actions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service card End-->
            <!--Service card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/service7.jpg" class="img-fluid rounded-start imgservice w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">8. Job Listing and Applications</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Real-Time Job Posting by Admin</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> Easy Filtering by Role, Location or Type</p>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot serviceic"></i> One-Click Application System</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service card End-->
        </div>
    </div>
</div>

<!--Featured card Start-->
<div class="row py-5">
    <p class="fs-3 text-center">
        Our<b class="text-mycolor"> Features  </b><br />
        <span class="fs-5">Responsive laayout optimized for all devices and screens.</span>
        <hr class="w-25 mx-auto" />
    </p>
    <div class="col-sm-10 mx-auto">
        <div class="row py-3">
            <!--Featured card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/feature1.png" class="img-fluid rounded-start imgfeature w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">1. Smart Recruitment Workflow</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot featureic"></i> Integrated job posting to hiring journey</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature card End-->
            <!--feature card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/feature2.png" class="img-fluid rounded-start imgfeature w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">2. All-in-one HR Management</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot featureic"></i> Everything from onboarding to exit</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature card End-->

        </div>
        <div class="row py-3">
            <!--feature card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/feature4.jpg" class="img-fluid rounded-start imgfeature w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">3. Responsive & User-Friendly UI</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot featureic"></i> Works across all devices with modern design</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature card End-->
            <!--feature card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/feature5.jpg" class="img-fluid rounded-start imgfeature w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">4. Data Security & Privacy</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot featureic"></i> Role-based access,encrypted credentials</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature card End-->

        </div>
        <div class="row py-3">
            <!--feature card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/feature7.jpg" class="img-fluid rounded-start imgfeature w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">5. Analytics and Reports</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot featureic"></i> Employee statistics, job applications, skary summaries</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature card End-->
            <!--feature card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/feature3.jpg" class="img-fluid rounded-start imgfeature w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">6. Custom Notifications</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot featureic"></i> Email/SMS updates for job status, leave, and approval</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature card End-->
        </div>
        <div class="row py-3">
            <!--feature card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/feature8.jpg" class="img-fluid rounded-start imgfeature w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">7. Performance Tracking(Optional Feature)</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot featureic"></i> Comming soon: goal setting , performance reviews</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature card End-->
            <!--feature card start-->
            <div class="col-sm-6">
                <div class="card mb-3 mx-auto shadow-lg border border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Content/images/feature9.jpg" class="img-fluid rounded-start imgfeature w-100" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-1">
                                <h6 class="card-title">8. Job Listing and Applications</h6>
                                <p class="card-text m-0"><i class="fa-solid fa-circle-dot featureic"></i> Real-Time Job Posting by Admin</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature card End-->
        </div>
    </div>
</div>


<!--Featured card End-->
