
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div class="container-fluid">
    <!--Team start-->
    <div class="row py-2 team">
        <p class="fs-3 text-center">
            Our<b class="text-mycolor"> Team  </b><br />
            <span class="fs-5">Skilled professional dedicated to delivering exceptional results.</span>
            <hr class="w-25 mx-auto" />
        </p>
        <div class="col-sm-10 mx-auto">
            <div class="row py-3">
                <div class="col-sm-4">
                    <div class="card mx-auto shadow-lg border border-0">
                        <img src="~/Content/images/team2.jpg" class="card-img-top img-fluid teamimg" />
                        <div class="card-body">
                            <h3 class="card-title text-center">Ankur Sharma</h3>
                            <p class="card-text text-center">Sr.Frontend Developer</p>
                            <p class="text-center">
                                <i class="fa-brands fa-facebook-square ic"></i>
                                <i class="fa-brands fa-instagram-square ic"></i>
                                <i class="fa-brands fa-twitter-square ic"></i>
                                <i class="fa-brands fa-whatsapp-square ic"></i>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mx-auto shadow-lg border border-0">
                        <img src="~/Content/images/mayank.jpg.jpg" class="card-img-top img-fluid teamimg" />
                        <div class="card-body">
                            <h3 class="card-title text-center">Mayank Sharma</h3>
                            <p class="card-text text-center">Sr.Fullstack Developer</p>
                            <p class="text-center">
                                <i class="fa-brands fa-facebook-square ic"></i>
                                <i class="fa-brands fa-instagram-square ic"></i>
                                <i class="fa-brands fa-twitter-square ic"></i>
                                <i class="fa-brands fa-whatsapp-square ic"></i>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mx-auto shadow-lg border border-0">
                        <img src="~/Content/images/team3.jpg" class="card-img-top img-fluid teamimg" />
                        <div class="card-body">
                            <h3 class="card-title text-center">Akshar</h3>
                            <p class="card-text text-center">Sr.Backend Developer</p>
                            <p class="text-center">
                                <i class="fa-brands fa-facebook-square ic"></i>
                                <i class="fa-brands fa-instagram-square ic"></i>
                                <i class="fa-brands fa-twitter-square ic"></i>
                                <i class="fa-brands fa-whatsapp-square ic"></i>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Team End-->
</div>

