USE [master]
GO
/****** Object:  Database [finalproject]    Script Date: 06-08-2025 14:35:50 ******/
CREATE DATABASE [finalproject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'finalproject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\finalproject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'finalproject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\finalproject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [finalproject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [finalproject]
GO
/****** Object:  Table [dbo].[tbl_application]    Script Date: 06-08-2025 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_application](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jid] [int] NULL,
	[name] [varchar](200) NOT NULL,
	[mobno] [varchar](20) NOT NULL,
	[emailid] [varchar](200) NOT NULL,
	[address] [varchar](200) NULL,
	[qualification] [varchar](200) NULL,
	[exp] [varchar](200) NULL,
	[salary] [int] NULL,
	[gender] [varchar](50) NULL,
	[resume] [varchar](200) NULL,
	[picture] [varchar](200) NULL,
	[regdate] [datetime] NULL,
	[status] [varchar](200) NULL,
	[ishired] [bit] NULL,
	[isrejected] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_attendance]    Script Date: 06-08-2025 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empid] [varchar](200) NULL,
	[adate] [date] NULL,
	[atime] [time](7) NULL,
	[addedon] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_emplogin]    Script Date: 06-08-2025 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_emplogin](
	[email] [varchar](200) NOT NULL,
	[password] [varchar](100) NULL,
	[appid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_enquiry]    Script Date: 06-08-2025 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_enquiry](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[mobile] [bigint] NOT NULL,
	[email] [varchar](200) NOT NULL,
	[message] [text] NULL,
	[enqdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_leave]    Script Date: 06-08-2025 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_leave](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empid] [varchar](200) NULL,
	[title] [varchar](250) NULL,
	[detail] [text] NULL,
	[fromdate] [date] NULL,
	[todate] [date] NULL,
	[appliedon] [datetime] NULL,
	[totaldays] [int] NULL,
	[isaccepted] [bit] NULL,
	[attachfile] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_opening]    Script Date: 06-08-2025 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_opening](
	[id] [int] IDENTITY(101,1) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[details] [varchar](250) NULL,
	[type] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[minsalary] [int] NULL,
	[maxsalary] [int] NULL,
	[gender] [varchar](50) NULL,
	[shift] [varchar](100) NULL,
	[exp] [varchar](200) NULL,
	[education] [varchar](200) NULL,
	[vacancy] [int] NULL,
	[lastdate] [date] NULL,
	[start] [date] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_application] ON 

INSERT [dbo].[tbl_application] ([id], [jid], [name], [mobno], [emailid], [address], [qualification], [exp], [salary], [gender], [resume], [picture], [regdate], [status], [ishired], [isrejected]) VALUES (15, 102, N'Avi Kumar ', N'1221', N'as0765665kj@gmail.com', N'rasulpur', N'1 years', N'14521', 11, N'Male', N'defender.jpg', N'defender.jpg', CAST(N'2025-08-03T05:18:56.000' AS DateTime), N'1', 0, 1)
INSERT [dbo].[tbl_application] ([id], [jid], [name], [mobno], [emailid], [address], [qualification], [exp], [salary], [gender], [resume], [picture], [regdate], [status], [ishired], [isrejected]) VALUES (17, 102, N'Mayank sharma ', N'1221', N'ms0969910@gmail.com', N'Village and post Markamau district Barabanki ', N'diploma', N'1', 12222, N'Male', N'indiagate.jpg', N'defender.jpg', CAST(N'2025-08-03T06:09:51.000' AS DateTime), N'1', 1, 0)
INSERT [dbo].[tbl_application] ([id], [jid], [name], [mobno], [emailid], [address], [qualification], [exp], [salary], [gender], [resume], [picture], [regdate], [status], [ishired], [isrejected]) VALUES (18, 102, N'Avi Kumar ', N'1221', N'anubhavmaurya944@gmail.com', N'rasulpur', N'diploma', N'1', 1212121, N'Male', N'defender.jpg', N'indiagate.jpg', CAST(N'2025-08-03T06:13:52.000' AS DateTime), N'1', 1, 0)
SET IDENTITY_INSERT [dbo].[tbl_application] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_attendance] ON 

INSERT [dbo].[tbl_attendance] ([id], [empid], [adate], [atime], [addedon]) VALUES (1, N'anubhavmaurya944@gmail.com', CAST(N'2025-08-05' AS Date), CAST(N'12:59:00' AS Time), CAST(N'2025-08-05T12:59:01.000' AS DateTime))
INSERT [dbo].[tbl_attendance] ([id], [empid], [adate], [atime], [addedon]) VALUES (2, N'anubhavmaurya944@gmail.com', CAST(N'2025-08-06' AS Date), CAST(N'09:59:00' AS Time), CAST(N'2025-08-06T09:59:15.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_attendance] OFF
GO
INSERT [dbo].[tbl_emplogin] ([email], [password], [appid]) VALUES (N'anubhavmaurya944@gmail.com', N'123', 5)
INSERT [dbo].[tbl_emplogin] ([email], [password], [appid]) VALUES (N'comradecyborg2024@gmail.com', N'techpile', 20)
INSERT [dbo].[tbl_emplogin] ([email], [password], [appid]) VALUES (N'ms0969910@gmail.com', N'techpile', 17)
GO
SET IDENTITY_INSERT [dbo].[tbl_enquiry] ON 

INSERT [dbo].[tbl_enquiry] ([id], [name], [mobile], [email], [message], [enqdate]) VALUES (1, N'Mayank sharma ', 787845454545, N'ms0969910@gmail.com', N'aa', CAST(N'2025-08-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_enquiry] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_leave] ON 

INSERT [dbo].[tbl_leave] ([id], [empid], [title], [detail], [fromdate], [todate], [appliedon], [totaldays], [isaccepted], [attachfile]) VALUES (3, N'anubhavmaurya944@gmail.com', N'out of town', N'', CAST(N'2025-03-08' AS Date), CAST(N'2025-05-08' AS Date), CAST(N'2025-08-04T00:00:00.000' AS DateTime), 2, NULL, N'')
INSERT [dbo].[tbl_leave] ([id], [empid], [title], [detail], [fromdate], [todate], [appliedon], [totaldays], [isaccepted], [attachfile]) VALUES (4, N'anubhavmaurya944@gmail.com', N'important work', N'', CAST(N'2025-04-08' AS Date), CAST(N'2025-05-08' AS Date), CAST(N'2025-08-04T00:00:00.000' AS DateTime), 1, 0, N'')
INSERT [dbo].[tbl_leave] ([id], [empid], [title], [detail], [fromdate], [todate], [appliedon], [totaldays], [isaccepted], [attachfile]) VALUES (5, N'anubhavmaurya944@gmail.com', N'out of town', N'abc', CAST(N'2025-03-08' AS Date), CAST(N'2025-05-08' AS Date), CAST(N'2025-08-04T00:00:00.000' AS DateTime), 2, NULL, N'')
SET IDENTITY_INSERT [dbo].[tbl_leave] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_opening] ON 

INSERT [dbo].[tbl_opening] ([id], [title], [details], [type], [city], [minsalary], [maxsalary], [gender], [shift], [exp], [education], [vacancy], [lastdate], [start], [status]) VALUES (101, N'abc', N'abc', N'abc', N'abc', 12233, 200000, N'male', N'normal', N'2 years', N'diploma', 10, CAST(N'2025-12-12' AS Date), CAST(N'2025-08-01' AS Date), 1)
INSERT [dbo].[tbl_opening] ([id], [title], [details], [type], [city], [minsalary], [maxsalary], [gender], [shift], [exp], [education], [vacancy], [lastdate], [start], [status]) VALUES (102, N'Web Developer', N'junior web developer', N'junior employee', N'lucknow', 20000, 150000, N'all', N'normal', N'1 years', N'diploma and b.tech', 5, CAST(N'2025-08-20' AS Date), CAST(N'2025-08-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[tbl_opening] OFF
GO
ALTER TABLE [dbo].[tbl_application]  WITH CHECK ADD FOREIGN KEY([jid])
REFERENCES [dbo].[tbl_opening] ([id])
GO
ALTER TABLE [dbo].[tbl_attendance]  WITH CHECK ADD FOREIGN KEY([empid])
REFERENCES [dbo].[tbl_emplogin] ([email])
GO
ALTER TABLE [dbo].[tbl_leave]  WITH CHECK ADD FOREIGN KEY([empid])
REFERENCES [dbo].[tbl_emplogin] ([email])
GO
USE [master]
GO
