
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}
<form method="post">
    <div class="container-fluid">
        <div class="row py-2">
            <div class="col-sm-12">
                <p class="fs-3 text-center">Welcome To <b class="text-mycolor">Change Password</b> Page</p>
                <hr class="mx-auto w-30" />
            </div>
            <!--Application Form Start-->

            <div class="col-sm-4 shadow p-3 mb-5 bg-white rounded mx-auto">
                <h4 class="text-center">Change <b class="text-mycolor">Password</b></h4>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="opass" id="floatingopass" placeholder="" required>
                    <label for="floatingopass">Old Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="npass" id="floatingopass" placeholder="" required>
                    <label for="floatingnpass">New Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="cpass" id="floatingopass" placeholder="" required>
                    <label for="floatingcpass">Confirm New Password</label>
                </div>
                <input type="submit" class="btn btn-success" value="Change Password" />
            </div>
        </div>
    </div>
</form>

